@charset "UTF-8";

/* Estilos para impressão */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Este conteúdo pode ser encontrado no site victoremanuel77.github.io/html-css/exercicios/ex026/mq001/index';
}

article > p {
    margin-top: 20px;
    text-align: justify;
}