@charset "UTF-8";

/* Estilos para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: darkgray;
    margin-bottom: 20px;
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style: none;
    margin-top: 10px;
    background-color: darkgray;
    text-align: center;
}

menu li {
    background-color: darkgray;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    
}

article {
    width: 600px;
    display: block;
    margin: auto;
}

article > p {
    margin-top: 20px;
    text-align: justify;
}